.formField ul {
    list-style-type : none;
}

.formField li {
    display : inline-block;
    width : 16%;
}

.follow_table td {
    text-align: center;
}

button {
    border-radius: 15px;
}

.checked {
  color: orange;
}