<div class="cta-inner bg-faded text-center rounded">
    <h2 class="section-heading mb-4">
        {% if request.user == review.user %}
            <span class="section-heading-upper">Votre critique du {{ review.time_created }}</span>
        {% else %}
            <span class="section-heading-upper">Critique de {{ review.user }} du {{ review.time_created }}</span>
        {% endif %}
        <span class="section-heading-lower">{{ review.headline }}</span>
        <p>{{ review.rating }} étoiles</p>
    </h2>
    <p class="mb-0">{{ review.body }}</p>
    <hr>
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            {% if request.user == review.user %}
                <span class="section-heading-upper">En réponse à votre ticket du {{ review.ticket.time_created }}</span>
            {% else %}
                <span class="section-heading-upper">En réponse au ticket de {{ review.ticket.user }} du {{ review.ticket.time_created }}</span>
            {% endif %}
            <span class="section-heading-lower">{{ review.ticket.title }}</span>
        </h2>
        <p>
            <img src="{{ review.ticket.image.url }}" alt="">
        </p>
    <hr>
    <!-- If review showing on my_posts page   -->
    {% if request.get_full_path == '/reviews/my_posts/' %}
        <button>Modifier</button>
        <button>Supprimer</button>
    {% endif %}

    </div>
</div>