<div class="cta-inner bg-faded text-center rounded">
    <h2 class="section-heading mb-4">
        {% if request.user == review.user %}
            <span class="section-heading-upper">Votre critique du {{ review.time_created }}</span>
        {% else %}
            <span class="section-heading-upper">Critique de {{ review.user }} du {{ review.time_created }}</span>
        {% endif %}
        <span class="section-heading-lower">{{ review.headline }}</span>
        {% for i in star_count %}
            {% if review.rating > i %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {% endfor %}

    </h2>
    <p class="mb-0">{{ review.body }}</p>
    <hr>
    <div class="cta-inner bg-faded text-center rounded">
        <h2 class="section-heading mb-4">
            {% if request.user == review.ticket.user %}
                <span class="section-heading-upper">En réponse à votre ticket du {{ review.ticket.time_created }}</span>
            {% else %}
                <span class="section-heading-upper">En réponse au ticket de {{ review.ticket.user }} du {{ review.ticket.time_created }}</span>
            {% endif %}
            <span class="section-heading-lower">{{ review.ticket.title }}</span>
        </h2>
        {% if review.ticket.image %}
            <p>
                <img src="{{ review.ticket.image.url }}" alt="" height="300">
            </p>
        {% endif %}
    <hr>
    {% if request.get_full_path == '/reviews/my_posts/' %}
        <form class="form" action="{% url 'reviews:my_posts' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="hidden" value="{{ review.id }}" name="review_id">
            <input type="hidden" class="hidden" value="{{ review.ticket.id }}" name="ticket_id">
            <input type="hidden" class="hidden" value="modify" name="role">
            <button type="submit">Modifier</button>
        </form>
        <form class="form" action="{% url 'reviews:my_posts' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="hidden" value="{{ review.id }}" name="review_id">
            <input type="hidden" class="hidden" value="delete" name="role">
            <button type="submit">Supprimer</button>
        </form>
    {% endif %}
    </div>
</div>