<form class="form" action="{% url 'reviews:review_creation' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {% if forloop.counter == 1 %}
                <div class="cta-inner bg-faded text-center rounded">
                    <h2>Livre / Article</h2>
            {% endif %}
            {% if forloop.counter == 4 %}
                <div class="cta-inner bg-faded text-center rounded">
                    <h2>Critique</h2>
            {% endif %}
                    <div class="formField">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        </br>
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    </br>
            {% if forloop.counter == 3 %}
                </div>
            {% endif %}
        {% endfor %}
                    <button type="submit" class="">Envoyer</button>
                </div>
</form>