<div class="cta-inner bg-faded text-center rounded">
    <h2 class="section-heading mb-4">
        {% if request.user == ticket.user %}
            <span class="section-heading-upper">Votre demande de critique du {{ ticket.time_created }}</span>
        {% else %}
            <span class="section-heading-upper">Demande de critique de {{ ticket.user }} du {{ ticket.time_created }}</span>
        {% endif %}
        <span class="section-heading-lower">{{ ticket.title }}</span>
    </h2>
    <p class="mb-0">{{ ticket.description }}</p>
    </br>
    {% if ticket.image %}
        <p>
            <img src="{{ ticket.image.url }}" alt="">
        </p>
    {% endif %}
    {% if request.get_full_path == '/reviews/' %}
        {% if ticket.review_set.count == 0 %}
            <form class="form" action="{% url 'reviews:ticket_response' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="hidden" value="{{ ticket.id }}" name="ticket_id">
                <button type="submit">Soumettre une critique</button>
            </form>
        {% endif %}
    {% endif %}

    {% if request.get_full_path == '/reviews/my_posts/' %}
        <form class="form" action="{% url 'reviews:my_posts' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="hidden" value="{{ ticket.id }}" name="ticket_id">
            <input type="hidden" class="hidden" value="modify" name="role">
            <button type="submit">Modifier</button>
        </form>

        <form class="form" action="{% url 'reviews:my_posts' %}" method="post">
            {% csrf_token %}
            <input type="hidden" class="hidden" value="{{ ticket.id }}" name="ticket_id">
            <input type="hidden" class="hidden" value="delete" name="role">
            <button type="submit">Supprimer</button>
        </form>
    {% endif %}
</div>