<div class="cta-inner bg-faded text-center rounded">
    <h2 class="section-heading mb-4">
        {% if review.user == ticket.user %}
            <span class="section-heading-upper">Vous avez demandé une critique le {{ ticket.time_created }}</span>
        {% else %}
            <span class="section-heading-upper">{{ ticket.user }} a demandé une critique le {{ ticket.time_created }}</span>
        {% endif %}
        <span class="section-heading-lower">{{ ticket.title }}</span>
    </h2>
    <p class="mb-0">{{ ticket.description }}</p>
    </br>
    <p>
        <img src="{{ ticket.image.url }}" alt="">
    </p>
</div>