{% extends 'reviews/base.html' %}
{% block content %}
    </br>
    <section class="page-section cta text-center">
        {% if ticket %}
            <h2>Modifier votre ticket du {{ ticket.time_created }}</h2>
        {% else %}
            <h2>Créer un ticket</h2>
        {% endif %}
        </br>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    {% include 'reviews/ticket_creation_form.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}