<div class="cta-inner bg-faded text-center rounded">
    <form class="form" action="{% url 'reviews:ticket_creation' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" class="hidden" value="{{ ticket.id }}" name="ticket_id">
        {% for field in form %}
                <div class="formField">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    </br>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                </br>
        {% endfor %}
        <button type="submit" class="">Envoyer</button>
    </form>
</div>