{% extends 'reviews/base.html' %}
{% block content %}
    </br>
    <section class="page-section cta text-center">
        {% if review %}
            <h2>Modifier votre critique du {{ review.time_created }}</h2>
        {% else %}
            <h2>Créer une critique</h2>
        {% endif %}
        </br>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    {% include 'reviews/ticket_response_form.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}