{% extends 'reviews/base.html' %}
{% block content %}
<div class="cta-inner bg-faded text-center rounded">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                </br>
                <form method="post">{% csrf_token %}
                    <h2>Êtes vous sûr de vouloir supprimer votre abonnement à {{ object.followed_user }} ?</h2>
                    <button class="btn btn-danger" type="submit" value="Confirm">Confirmer</button>
                </form>
                <a href="{% url 'reviews:user_follows' %}"><button class="btn btn-warning">Annuler</button></a>
                </br>
                </br>
            </div>
        </div>
    </div>
</div>
{% endblock %}