{% extends 'reviews/base.html' %}
    {% block content %}
        </br>
        <section class="page-section cta text-center">
            <h1>Suivre d'autres utilisateurs</h1>
            </br>
            <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" class="hidden" value="search" name="role">
                <button class="btn btn-warning" type="submit">Rechercher</button>
            </form>
            </br>
            <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="hidden" value="search_all" name="role">
                <button class="btn btn-warning" type="submit">Montrer tous les utilisateurs auxquels je ne suis pas déjà abonné</button>
            </form>
            </br>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        {% if messages %}
                            </br>
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    <h2 class="{{ message.tags }}">{{ message }}</h2>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if search_matches %}
                            <div class="cta-inner bg-faded text-center rounded">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower">Résultats de la recherche</span>
                                </h2>
                                <table class="follow_table">
                                    {% for user in search_matches %}
                                    <tr>
                                        <td class="follow_table">
                                            <span class="section-heading-upper">{{ user.username }}</span>
                                        </td>
                                        {% if user not in followed_users %}
                                        <td class="follow_table">
                                            <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" class="hidden" value="add" name="role">
                                                <input type="hidden" class="hidden" value="{{ user.id }}" name="user_to_follow_id">
                                                <button class="btn btn-warning" type="submit">S'abonner</button>
                                            </form>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button class="btn btn-primary">Déjà dans mes abonnements</button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Abonnements</span>
                            </h2>
                            <table class="follow_table">
                                {% for following in followings %}
                                <tr class="follow_table">
                                    <td class="follow_table">
                                        <span class="section-heading-upper">{{ following.followed_user }}</span>
                                    </td>
                                    <td class="follow_table">
                                        <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" class="hidden" value="delete" name="role">
                                            <input type="hidden" class="hidden" value="{{ following.id }}" name="following_id">
                                            <button class="btn btn-danger" type="submit">Se désabonner</button>
                                        </form>
                                    </td>
                                </tr>
                                {% empty %}
                                    <span class="section-heading-upper">Vous n'êtes encore abonné à personne</span>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Abonnés</span>
                            </h2>
                            <table class="follow_table">
                                {% for followed_by in followed_bys %}
                                <tr>
                                    <td class="follow_table">
                                        <span class="section-heading-upper">{{ followed_by.user }}</span>
                                    </td>
                                    {% if followed_by.user not in followed_users %}
                                    <td class="follow_table">
                                        <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" class="hidden" value="add" name="role">
                                            <input type="hidden" class="hidden" value="{{ followed_by.user.id }}" name="user_to_follow_id">
                                            <button class="btn btn-warning" type="submit">S'abonner</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <span class="section-heading-upper">Personne ne vous suit ;-(</span>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}