

{% extends 'reviews/base.html' %}
    {% block content %}
        </br>
        <section class="page-section cta text-center">
            <h1>Suivre d'autres utilisateurs</h1>
            </br>
            <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" class="hidden" value="search" name="role">
                <button type="submit">Rechercher</button>
            </form>
            </br>
            <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                {% csrf_token %}
                <input type="hidden" class="hidden" value="search_all" name="role">
                <button type="submit">Montrer tous les utilisateurs auxquels je ne suis pas déjà abonné</button>
            </form>
            </br>
            <h2>{{ search_message }}</h2>
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
{% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        {% if search_matches %}
                            <div class="cta-inner bg-faded text-center rounded">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower">Résultats de la recherche</span>
                                </h2>
                                <table>
                                    {% for user in search_matches %}
                                    <tr>
                                        <td>
                                            <span class="section-heading-upper">{{ user.username }}</span>
                                        </td>
                                        {% if user not in followed_users %}
                                        <td>
                                            <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" class="hidden" value="add" name="role">
                                                <input type="hidden" class="hidden" value="{{ user.id }}" name="user_to_follow_id">
                                                <button type="submit">Ajouter à mes abonnements</button>
                                            </form>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button disabled="true">Déjà dans mes abonnements</button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Abonnements</span>
                            </h2>
                            <table>
                                {% for following in followings %}
                                <tr class="user_table">
                                    <td class="user_table">
                                        <span class="section-heading-upper">{{ following.followed_user }}</span>
                                    </td>
                                    <td class="user_table">
                                        <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" class="hidden" value="delete" name="role">
                                            <input type="hidden" class="hidden" value="{{ following.id }}" name="following_id">
                                            <button type="submit">Se désabonner</button>
                                        </form>
                                    </td>
                                </tr>
                                {% empty %}
                                    <span class="section-heading-upper">Vous n'êtes encore abonné à personne</span>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Abonnés</span>
                            </h2>
                            <table>
                                {% for followed_by in followed_bys %}
                                <tr>
                                    <td>
                                        <span class="section-heading-upper">{{ followed_by.user }}</span>
                                    </td>
                                    {% if followed_by.user not in followed_users %}
                                    <td>
                                        <form class="form" action="{% url 'reviews:user_follows' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" class="hidden" value="add" name="role">
                                            <input type="hidden" class="hidden" value="{{ followed_by.user.id }}" name="user_to_follow_id">
                                            <button type="submit">Ajouter à mes abonnements</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                    <span class="section-heading-upper">Personne ne vous suit ;-(</span>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}