{% extends 'registration/base.html' %}
{% block content %}
<div class="cta-inner bg-faded text-center rounded">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                {% if form.errors %}
                    <p>Nom d'utilisateur et/ou mot de passe incorrect(s). Veuillez renseigner à nouveau vos identifiants.</p>
                {% endif %}
                </br>
                <form class="form" action="{% url 'reviews:login' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                            <div class="formField">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                </br>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            </br>
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" class="">Se connecter</button>
                    </br>
                    </br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}